<launch>
  <node pkg="rags_planner" type="dji_drone_client" respawn="false" name="dji_drone_clinet" output="screen"/>
  <node pkg="rags_planner" type="dji_rags" respawn="false" name="RAGS" output="screen">
    <rosparam file="$(find rags_planner)/rags_params.yaml" command="load"/>
  </node>
</launch>
